# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# https://github.com/github/gitignore for more .gitignore options

/_source

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local


# Vercel
.vercel

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

## Gitgnore file Novi Hogeschool projects
/.parcel-cache

# Backend 
/target
/out

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
*.local

# Editor directories and files
/.idea
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# No Maven products
target/

### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
*.iml
.idea/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
.vscode/*
*.vscode
!.vscode/extensions.json

### Mac OS ###
.DS_Store